# Negate unneeded output files
**/*.aux
**/*.log
**/*.out
**/*.nav
**/*.snm
**/*.synctex.gz
**/*.toc
**/*.vrb
**/*.bbl
**/*.bcf
**/*.blg
**/*.lof
**/*.lol
**/*.lot
**/*.xml

# # Except for selected files
# !.gitignore
# !*.pdf
# !*.tex
